<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:my="http://typo3.org/ns/Michaelstaatz/ThemeDaisy/Components"
      data-namespace-typo3-fluid="true">

<f:if condition="{record.header}">
    <h3 class="font-semibold mb-2">{record.header}</h3>
</f:if>
<my:dataDisplay.carousel>
    <f:if condition="{record.image}">
        <f:for each="{record.image}" as="image">
            <div class="carousel-item w-full">
                <f:image image="{image}" alt="{image.alternative}" class="w-full h-64 object-cover rounded-box" />
            </div>
        </f:for>
    </f:if>
</my:dataDisplay.carousel>

</html>
