<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:my="http://typo3.org/ns/Michaelstaatz/ThemeDaisy/Components"
      data-namespace-typo3-fluid="true">

<f:if condition="{record.header}">
    <h3 class="font-semibold mb-2">{record.header}</h3>
</f:if>
<div class="stats shadow w-full overflow-x-auto">
    <f:for each="{record.tx_themedaisy_stat_items}" as="item">
        <my:dataDisplay.stat title="{item.title}" value="{item.value}" description="{item.description}" />
    </f:for>
</div>

</html>
