<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="theme_daisy_backend_previews" href="EXT:theme_daisy/Resources/Public/Css/previews.css"/>

<f:if condition="{record.header}"><div class="dsvg-preview__title">{record.header}</div></f:if>
<div class="dsvg-preview-stats">
    <f:for each="{record.tx_themedaisy_stat_items}" as="item">
        <div class="dsvg-preview-stats__item">
            <div class="dsvg-preview-stats__value">{item.value}</div>
            <div class="dsvg-preview__sub">{item.title}</div>
        </div>
    </f:for>
</div>

</html>
