<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="theme_daisy_backend_previews" href="EXT:theme_daisy/Resources/Public/Css/previews.css"/>

<f:if condition="{record.header}"><div class="dsvg-preview__title">{record.header}</div></f:if>
<ul class="dsvg-preview-list">
    <f:for each="{record.tx_themedaisy_timeline_items}" as="item">
        <li class="dsvg-preview-list__item">{item.title} <span class="dsvg-preview__meta"><f:translate key="tx_themedaisy_timeline_item.side.I.{item.side}" domain="theme_daisy.backend_fields"/></span></li>
    </f:for>
</ul>

</html>
