<f:argument name="name" type="string" />
<f:argument name="placeholder" type="string" optional="{true}" default="" />
<f:argument name="variant" type="string" optional="{true}" default="" />
<f:argument name="size" type="string" optional="{true}" default="md" />
<f:argument name="rows" type="integer" optional="{true}" default="3" />

<f:variable name="classes">textarea<f:if condition="{variant}"> textarea-{variant}</f:if><f:if condition="{size}"> textarea-{size}</f:if></f:variable>

<textarea name="{name}"<f:if condition="{placeholder}"> placeholder="{placeholder}"</f:if> rows="{rows}" class="{classes}"><f:slot /></textarea>
