<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{bullets}">
    <dl class="space-y-2">
    <f:for each="{bullets}" as="definitionListItem">
        <f:for each="{definitionListItem}" as="termDescription" iteration="termDescriptionIterator">
            <f:if condition="{termDescriptionIterator.isFirst}">
                <f:then>
                    <dt class="font-semibold">{termDescription}</dt>
                </f:then>
                <f:else>
                    <dd class="ml-4 text-base-content/70">{termDescription}</dd>
                </f:else>
            </f:if>
        </f:for>
    </f:for>
    </dl>
</f:if>
</html>
